{% extends "base.html" %}
{% block content %}

<div class="card text-white bg-info mb-3" style="width: 1000px;margin: 150px;">
    
    <form  method="POST">
        <label for="title" class="form-label mt-4">enter your title : </label>
        <input type="text" class="form-control" name="title" id="title" value="{{note.title}}">
        <label for="title" class="form-label mt-4">enter your body : </label>
        <textarea name="editor1" >{{note.body}}</textarea>
        <br>
        <input type="submit" style="margin-left: 920px;" class="btn btn-warning" value="update">
    </form>

  </div>
    
        <script>
                CKEDITOR.replace( 'editor1' );
        </script>
{% endblock %}